# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# php stuff
vendor/
*.pem
composer.lock
.env
.env.local
.env.*.local
.phpunit.result.cache
.php_cs.cache
.php_cs.dist
.phpstorm.meta.php
.phpdoc.dist.xml
.phpdoc.xml
build/
coverage/
tests/_output/
tests/_support/Helper/.gitkeep
tests/_support/Helper/.DS_Store 
# temporary files
*.tmp
*.temp
*.bak
*.orig
*.rej
*.swp
*~
